/* Box-sizing */
*, *::before, *::after {
  box-sizing: border-box;
}


/* Font size 1rem=1px */
/* If user will change browser default font size, save ratio */
:root { font-size: 6.25% }
/* body  { font-size: 16rem } */


body {
  /* Forbid width less than 320px */
  min-inline-size: 320px;
  /* Remove native "body" margin */
  margin: 0;
  
  /* Font without serif */
  font-family: sans-serif;
  /* Standard browsers font size 16px = 16rem */
  font-size: 16rem;
  /* Lines interval */
  line-height: 1.15;
  /* Font weight */
  font-weight: 400;
  /* Text color */
  color: #000;
  
  /* Enable scroollbar on y axes on all pages */
  overflow-y: scroll;
}
