/* Images and other media size restricting */
img, picture, video, canvas, svg {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}


/* Blinking disabling in Chrome */
a,
summary {
  -webkit-tap-highlight-color: transparent;
}


/* Cursor "pointer" for non-disabled (active) buttons */
button:not(:disabled) {
  cursor: pointer;
}


/* Remove margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote,
dl,
dd,
input {
  margin: unset;
}
