.flipper {
  /* Если нужно задать размеры, делать это для "контейнера" */
  inline-size: 100px;
  block-size: 100px;
}

.flipper__inner {
  /* Стили "карточки" нужно задавать "вращателю" */
  border: 1px solid #000;
}