/* ========================================================= */
/* Свойства с объяснением */
/* ========================================================= */
ol {
  /* Отключить стандартный маркер списка */
  list-style: none;
  
  /* Переменная счётчика */
  counter-reset: my-counter;
}

li {
  /* Увеличение значения переменной счётчика */
  counter-increment: my-counter;
}

li::before {
  /* Содержимим сделать значение счётчика */
  content: counter(my-counter) ". ";

  /* Другая стилизация */
  color: red;
}



/* ========================================================= */
/* Свойства для копирования */
/* ========================================================= */
ol {
  list-style: none;
  counter-reset: my-counter;
}

li {
  counter-increment: my-counter;
}

li::before {
  content: counter(my-counter) ". ";
}