/* ПЛОХОЙ ПРИМЕР */
/* .elem:focus {
  outline: none;
} */



/* ХОРОШИЙ ПРИМЕР */
/* Стилизация фокуса при навигации с помощью клавиатуры */
/* Применяется ко всем элементам */
.elem:focus-visible {
  outline: none;
  border: 2px solid red;
}

/* Стилизация фокуса при навигации с помощью мыши, тача или стилуса */
/* Применяется к кнопкам */
/* Не применяется к <input/> */
.elem:focus:not(:focus-visible) {
  outline: none;
}