div {
  display: inline-block;

  border: 1px solid #000;
}

/* 0. В HTML тегу задаётся атрибут с тем же текстом, что и внутри тега */

/* 1. Для тега, текст которого при наведении должен становиться жирным,
 * создаётся псевдоэлемент
 */
div::after {
  /* 2. С помощью свойства "content" и функции "attr()", задаём содержимое
   * псевдоэлемента равным значению html-атрибута "data-text" этого тега
   */
  content: attr(data-content);
  
  /* 3. Делаем псевдоэлемент блочным, задаём высоту = 0, визуально скрываем */
  display: block;
  block-size: 0;
  overflow: hidden;
  visibility: hidden;
  
  /* 4. Текст псевдоэлемента делаем жирным, чтобы он занял нужную ширину  */
  font-weight: 600;
}

/* 5. Задаём жирный стиль текста при наведении на тег */
div:hover {
  font-weight: 600;
}